<body id="top">

  <!-- Banner -->
  <!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
  -->
    <section id="banner" data-video="/assets/images/bannervideo">
      <div class="inner">
        <header>
          <h1>HipHop Brothers </h1>
          <p>Watch recent uploads</p>
        </header>
        <a href="#main" class="more">Learn More</a>
      </div>
    </section>

  <!-- Main -->
    <div id="main">
      <div class="inner">

      <!-- Boxes -->
        <div class="thumbnails">

          <div class="box">
            <a href="https://youtu.be/WcRyJCYkojI" class="image fit"><img src="assets/images/pic1.jpg" alt="" /></a>
            <div class="inner">
              <h3>Gaon Maaza</h3>
              <p>Gaon Maaza Marathi Rap Song by CarboNyl</p>
              <p>Lyrics - CarboNyl
                Editor- Siddhesh Upkare
                Shot by- Haresh Shitkar</p>
              <a href="https://youtu.be/WcRyJCYkojI" class="button fit" data-poptrox="youtube,800x400">Watch</a>
            </div>
          </div>

          <div class="box">
            <a href="https://youtu.be/VIZo9XhAkTY" class="image fit"><img src="assets/images/pic2.jpg" alt="" /></a>
            <div class="inner">
              <h3>Mujhe Drugs Do Rap</h3>
              <p>Lyrics- CarboNyl</p>
              <p>Beat Provided By https://freebeats.io
                Produced By White Hot</p>
              <a href="https://youtu.be/VIZo9XhAkTY" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
            </div>
          </div>

          <div class="box">
            <a href="https://youtu.be/4Gd8qaVSHnI" class="image fit"><img src="assets/images/pic3.jpg" alt="" /></a>
            <div class="inner">
              <h3>Marathi Hiphop</h3>
              <p>Beat by Mehul Takke
                Mix and Mastered by Siddhesh Upkare</p>
              <a href="https://youtu.be/4Gd8qaVSHnI" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
            </div>
          </div>

        
        </div>

        <h1 style="font-size: 30px; text-align: center;">Songs on Spotify</h1>        
          <div class="thumbnails">
            
                <div class="box">
                      
                      <iframe src="https://open.spotify.com/embed/artist/7egah6LLBxhJpPdXCn6e9Q" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                      
                </div>
                <div class="box">
                    <img class="image fit" src="assets/images/pic3.jpg" alt="" />Latest on spotify
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:7egah6LLBxhJpPdXCn6e9Q&size=detail&theme=dark" width="500" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </div>
        </div>
          
          
       
      </div>
    </div>

  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <h2>Etiam veroeros lorem</h2>
        <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
      </div>
    </footer>



</body>